.images {
    background-color: var(--primary-normal);
    display: flex;
    flex-direction: row;
}

.entry {
    background-color: var(--secondary-dark);
    display: flex;
    flex-direction: row;
}

.label {
    background-color: var(--primary-dark);
    flex: 1;
    color: white;
    justify-content: center;
}

.img {
    background-color: var(--secondary-normal);
    color: white;
    flex: 2;
}

.delete-button {
    background-color: crimson;
    color: white;
}

input, button {
    font-family: inherit;
    color: inherit;
    border: none;
}