.images {
    background-color: var(--primary-normal);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entry {
    background-color: var(--secondary-dark);
    display: inline-flex;
    flex-direction: column;
    width: 140px;
}

.label {
    background-color: var(--primary-dark);
    color: white;
    justify-content: center;
}

.img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 22px;
}

.delete-button {
    background-color: crimson;
    color: white;
}

input, button {
    font-family: inherit;
    color: inherit;
    border: none;
}