.input-box > * {
    flex: 1;
}

.input-box > input {
    border: none;
    font-size: 16px;
    color: white;
    background-color: black;
}

.input-box > button {
    text-align: center;
    font-size: 24px;
    border: none;
    color: white;
    background-color: crimson;
}