:root {
    --primary-light: #439889;
    --primary-normal: #00695c;
    --primary-dark: #003d33;

    --secondary-light: #ac173c;
    --secondary-normal: #750d11;
    --secondary-dark: #570922;
}

* {
    transition: all;
    transition-duration: 0.2s;
}

body {
    font-family: 'Baloo Paaji 2', cursive;
    min-height: 98vh;
    background-color: var(--primary-light);
}

.block {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 16px;
    padding: 12px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.title {
    background-color: var(--primary-dark);
    color: white;
    font-size: 48px;
    padding: 0px 12px !important;
    text-shadow: 3px 3px #000000;
}

.mainPanel {
    margin: auto;
    background-color: var(--primary-normal);
    max-width: 1000px;
    padding: 32px;
    display: flex;
    flex: 1;
    flex-direction: column;
}
