:root {
    --primary-light: #439889;
    --primary-normal: #00695c;
    --primary-dark: #003d33;

    --secondary-light: #fa5788;
    --secondary-normal: #c2185b;
    --secondary-dark: #8c0032;
}

* {
    transition: all;
    transition-duration: 0.2s;
    text-shadow: 3px 3px #000000;
}

body {
    font-family: 'Baloo Paaji 2', cursive;
    min-height: 98vh;
    background-color: var(--primary-light);
}

.block {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 16px;
    padding: 12px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}