<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Browse through saved images!</title>
        <meta name="description" content="Browse through saved images!">
        <meta name="author" content="None">

        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="../static/css/universal.css"/>
        <link rel="stylesheet" href="../static/css/categorize.css"/>
        <script src="../static/js/base64.js"></script>
        <script src="../static/js/categorize.js"></script>
    </head>

    <body>
        <div class="flex-center">
            <div class="mainPanel block">        
                <div class="title block">Catalog</div>
                <a href="/"><div class="title block">Back to Menu</div></a>
            <div>
        </div>
    </body>
</html>
