<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Catetegorize and save your image!</title>
        <meta name="description" content="Catetegorize and save your image!"/>

        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/universal.css"/>
        <link rel="stylesheet" href="../static/css/menu.css"/>
    </head>

    <body>
        <div class="flex-center">
            <div class="buttonBox block">
                <a href="catalog">
                    <div class="buttonLink block">
                        Catalog
                    </div>
                </a>
                
                <a href="categorize">
                    <div class="buttonLink block">
                        Categorize
                    </div>
                </a>
                
                <a href="recognize">
                    <div class="buttonLink block">
                        Recognize
                    </div>
                </a>
                
                <a href="apidoc">
                    <div class="buttonLink block">
                        API Documentation
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>