<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Recognize your image!</title>
        <meta name="description" content="Recognize your image!">
        <meta name="author" content="None">

        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="../static/css/universal.css"/>
        <link rel="stylesheet" href="../static/css/categorize.css"/>
        <script src="../static/js/base64.js"></script>
        <script src="../static/js/categorize.js"></script>
    </head>

    <body>
        <div class="flex-center">
            <div class="mainPanel block">
                <div class="title block">Recognize</div>
                <canvas width="400" height="300" id="imgCanvas" class="imgCanvas block">HTML5 canvas is required</canvas>
                <div class="controls block">
                    <input type="file" id="imageUpload" accept="image/*">
                </div>
                <a href="/"><div class="title block">Back to Menu</div></a>
            </div>
        </div>
    </body>
</html>
